---
import BaseLayout from "./BaseLayout.astro";
import FaAnimation from "../components/FaAnimation.astro"; // On n'oublie pas l'import !
const { frontmatter } = Astro.props;
---

<BaseLayout titrePage={frontmatter.title}>
  <article class="article-container">
    <header class="article-header">
      <p class="meta">
        {frontmatter.pubDate.slice(0, 10)} —
        {/* LE CHANGEMENT EST ICI : La catégorie devient un lien */}
        <a href={`/tags/${frontmatter.categorie}`} class="categorie-link">
          {frontmatter.categorie}
        </a>
      </p>
      <h1>{frontmatter.title}</h1>
      <div class="separator"></div>

      {/* LOGIQUE INTELLIGENTE IMAGE / ANIMATION */}
      {
        frontmatter.type_image === "animation_fa" ? (
          /* Cas A : C'est le Fâ -> Animation Hero */
          <FaAnimation mode="hero" />
        ) : (
          /* Cas B : C'est normal -> Image classique (si elle existe et n'est pas masquée) */
          frontmatter.image &&
          frontmatter.afficheImage !== false && (
            <img
              src={frontmatter.image}
              alt={frontmatter.title}
              class="hero-image"
            />
          )
        )
      }
    </header>

    <div class="contenu-article">
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  .article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px 80px;
  }
  .article-header {
    text-align: center;
    margin-bottom: 50px;
  }
  .meta {
    font-family: "Lato", sans-serif;
    color: #a0522d;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px;
  }

  /* Nouveau style pour le lien de catégorie dans l'article */
  .categorie-link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
  }
  .categorie-link:hover {
    color: #d4af37; /* Devient doré au survol */
    border-bottom: 1px solid #d4af37;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: #2f4f4f;
    margin: 10px 0 30px;
    line-height: 1.2;
  }
  .separator {
    width: 60px;
    height: 4px;
    background-color: #d4af37; /* Or */
    margin: 0 auto 40px;
  }
  .hero-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  .contenu-article {
    font-family: "Lato", sans-serif;
    font-size: 1.15rem;
    line-height: 1.8;
    color: #333;
  }
  /* Style pour les titres dans le markdown */
  .contenu-article :global(h2) {
    font-family: "Playfair Display", serif;
    color: #2f4f4f;
    margin-top: 40px;
    font-size: 2rem;
  }
</style>
